doctype html
html
	head
		title #Syria
		link(href="https://fonts.googleapis.com/css?family=Lora|Oswald|Quicksand", rel="stylesheet")
		script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		style
			include ../css/style.css
			include ../css/jquery-jvectormap-2.0.3.css
	body
		div.header
			h1 #SYRIA
			h2 What people are saying about #Syria
			
		div.content
			div.one
				p.comment #{tweets.statuses[0].text}
				p.metadata #{tweets.statuses[0].user.name} | #{tweets.statuses[0].created_at}
			div.two
				p.comment #{tweets.statuses[1].text}
				p.metadata #{tweets.statuses[1].user.name} | #{tweets.statuses[1].created_at}
			div.three
				p.comment #{tweets.statuses[2].text}
				p.metadata #{tweets.statuses[2].user.name} | #{tweets.statuses[2].created_at}
			div.four
				p.comment #{tweets.statuses[3].text}
				p.metadata #{tweets.statuses[3].user.name} | #{tweets.statuses[3].created_at}
			div.five
				p.comment #{tweets.statuses[4].text}
				p.metadata #{tweets.statuses[4].user.name} | #{tweets.statuses[4].created_at}
		div.map
			div#world-map-markers
			
			
			
			
			
		script
			include ../js/jquery-jvectormap-2.0.3.min.js
			include ../js/jquery-jvectormap-world-mill.js
			include ../js/map.js
			include ../js/tweets.js
